### Imputaciónes Simples
- Imputación por la medio o mediana, si hay muchos datos faltantes esto puede cambiar la desviación de los datos por lo cual no es aconsejable 
- Imputación por regresión (el valor se cambia por un valor predicho por un modelo de regresión combinando la informaciónm de las columnas o variables faltantes con columnas donde los datos están completos)
- Imputación Hot-Deck  KNN (key nearest neigborg reemplaza los datos faltantes por datos vecinos) se usa cuando no se puede garantizar correlación entre los datos 

### Imputaciones Multiples

- MICE: Multiple Imputation by Chain Equations (las variables tienen que estar relacionadas linealmente)

Se debe identificar la correlación de los datos

# Exploración de datos

* Tener clara la pregunta que queremos responder;
* Tener una idea general de nuestro dataset;
* Definir los tipos de datos que tenemos;
* Elegir el tipo de estadística descriptiva
* Visualizar los datos;
* Analizar las posibles interacciones entre las variables del dataset; y finalmente
* Extraer algunas conclusiones de todo este análisis.

### Tipos de datos

Los siguientes datos son obtenidos del archivo "clean_df.csv"

- initial_sal_ Initial salary offered 
- final_sal Final salary offered
- mean_salary Mean salary obtained from the first two columns
- period Period of time year, month, week , hour that the payment of the salary is stablished
- period_cond The contions offered acroding to the job
- job The position that the persons is taking
- job_type The type of job full time, part time....
- city City where the person has to work
- state The State of the city
- organization_ Name of the organization
- org_desc Description of the organization
- sector_ Sector that the organization belongs to
- sector_level Level of the position like manager or support
- benefits Benefits offered by the organization

In [528]:
import pandas as pd

In [529]:
df = pd.read_csv('clean_df.csv',encoding="utf-8")
#Carga de datos a un dataframe en pandas

In [530]:
df = df.set_index('uniq_id')
df.head(5)
# Before doing anything we are going to ser the column 'uniq_id' as an index, this way we are noi going to have integrity issues when makin join o merge

,initial_sal_,final_sal,mean_salary,period,period_cond,job,job_type,city,state,organization_,org_desc,sector_,sector_level,benefits
uniq_id,,,,,,,,,,,,,,
58435fcab804439efdcaa7ecca0fd783,0.0,0.0,0.0,NaN,NaN,engineer,full time,dixon,ca,Altec,Industries,Experienced,(Non-Manager),NaN
64d0272dc8496abfd9523a8df63c184c,0.0,0.0,0.0,NaN,NaN,shift supervisor,full time,camphill,pa,Retail,NaN,Project/Program,Management,NaN
1e2637cb5f7a2c4615a99a26c0566c66,0.0,0.0,0.0,NaN,NaN,construction pm,full time,charlottesville,va,Computer,IT Services,Experienced,(Non-Manager),NaN
a6a2b5e825b8ce1c3b517adb2497c5ed,0.0,0.0,0.0,NaN,NaN,housekeeper,part time,austin,tx 78746,Hotels,Lodging Personal Household Services,Customer,Support/Client Care,NaN
2f8bdf60db4d85627ab8f040e67aa78d,0.0,0.0,0.0,NaN,NaN,aflac insurance sales agent,full time,berryville,va 22611,Insurance,NaN,Customer,Support/Client Care,NaN

Los tipos de datos pueden ser:
- numericos:
    * discretos (Toman solo valores enteros como la edad)
    * continuos (Pueden tomar valor dentro de un intervalo como el salario)
- Categoricos
    * binarios (undican una de dos posibles categorias 1 o 0 paso la materia o no)
    * nominales (etiquetan el dato pero no pueden ser ordenados o medidos como el genero, hombre, mujer o .......)
    * ordinales (Corresponden al orden en que vienen los dato)

In [531]:
df.dtypes
#Tipos de datos
# Variables númericas continuos: initial_sal_ , final_sal   ,mean_salary
# Period, jobtype are nominales can be both sorted or measured
# Variables categoricas El resto de las varibales que puedes encontral en la lista que arroja 'dtypes'

initial_sal_     float64
final_sal        float64
mean_salary      float64
period            object
period_cond       object
job               object
job_type          object
city              object
state             object
organization_     object
org_desc          object
sector_           object
sector_level      object
benefits          object
dtype: object

### Descripción estadistica
 Se utilizan medidas:
 - Tendencia central
    * media (se puede aplicar a datos discretos o continuos pero sensible a valores atipicos o sesgados)
    * mediana (soluciona el problema de la media y sirve también para datos duscretos u ordinales)
    

 - Verificación de variabilidad de los datos (que tanto se elejan los datos de la media o la mediana):
    * Desviación estandar (entre mas bajo el valor los datos estan mas agrupados, sensible a datos sesgados)
    * Rango intercuartiles (diferencia entre el percentil 75 y percentil 25, menos sensible a datos sesgados )

In [532]:
df_data = df[df['mean_salary'] !=0]
df_data.head(5)

# We first chose the data with the mean salary diferent to cero, it means thereara a initial salary and an final salary an data in categorical variables
# we hace 1665 rows and 15 columns

,initial_sal_,final_sal,mean_salary,period,period_cond,job,job_type,city,state,organization_,org_desc,sector_,sector_level,benefits
uniq_id,,,,,,,,,,,,,,
b43c077756d5a326c4854e1399fd2464,900.0,1300.0,1100.0,hour,NaN,primrose private preschool teacher,full time,houston,tx 77098,Education,NaN,Entry,Level,NaN
d8491fcefe14d1398de419984dccf427,8000000.0,9500000.0,8750000.0,year,NaN,superintendent,full time,houston,tx,Construction,Industrial Facilities InfrastructureConstru...,Building,Construction/Skilled Trades,NaN
779bb4c9bf038b7fb775134736d36fd4,7000000.0,10000000.0,8500000.0,year,NaN,sr. process engineer,full time,sr. process engineer,manufacturing,Chicago,IL,Engineering,NaN,NaN
ceb44cca7cd280adcb0c84c20f3c6c21,6800000.0,7200000.0,7000000.0,year,NaN,rf system technician,full time temporary,rf system technician,field service,Oklahoma,City OK,Engineering,NaN,NaN
eea9b50afc4fece9f9d6ff0dbf659784,5800000.0,6500000.0,6150000.0,year,NaN,japanese and english speaking interpreter and ...,full time,charleston,wv,Manufacturing,Other,Experienced,(Non-Manager),NaN

In [533]:
df_data.shape

(1665, 14)

#### Find median
In order ot find the median we have to create clusters of the variables "type_job" an the "period" because is not the same the salary of a full time job, or hourly or weekly or per diem

In [534]:
df_data.isnull().sum()
# As we can see there are 134 nan values for period and 5 for job_type

initial_sal_        0
final_sal           0
mean_salary         0
period            134
period_cond      1370
job                 0
job_type            5
city                0
state              94
organization_       0
org_desc          163
sector_             0
sector_level      303
benefits         1412
dtype: int64

In [535]:
df_data = df_data.dropna(subset=['period', 'job_type'])

In [536]:
df_data.shape

(1526, 14)

In [537]:
df_data.isnull().sum()

initial_sal_        0
final_sal           0
mean_salary         0
period              0
period_cond      1232
job                 0
job_type            0
city                0
state              93
organization_       0
org_desc          151
sector_             0
sector_level      303
benefits         1273
dtype: int64

In [538]:
df_data['period'].unique()
# We identified the periods of tiem that will be clusteres

array(['hour', 'year', 'week', 'mont'], dtype=object)

In [539]:
df_data['job_type'].unique()
# We identified the job_type that will be clusteres

array(['full time', 'full time temporary', 'part time', 'temporary',
       'per diem', 'part time temporary'], dtype=object)

In [540]:
# Lets segregate the numeric data
num_data_cluster = df_data[['initial_sal_','final_sal','mean_salary','period','job_type']]
num_data_cluster.head(5)

# I think it would be easier to concatenate period and job_type to simplify the clusters

,initial_sal_,final_sal,mean_salary,period,job_type
uniq_id,,,,,
b43c077756d5a326c4854e1399fd2464,900.0,1300.0,1100.0,hour,full time
d8491fcefe14d1398de419984dccf427,8000000.0,9500000.0,8750000.0,year,full time
779bb4c9bf038b7fb775134736d36fd4,7000000.0,10000000.0,8500000.0,year,full time
ceb44cca7cd280adcb0c84c20f3c6c21,6800000.0,7200000.0,7000000.0,year,full time temporary
eea9b50afc4fece9f9d6ff0dbf659784,5800000.0,6500000.0,6150000.0,year,full time

In [541]:
num_data_cluster_ =num_data_cluster.copy()

num_data_cluster_.loc[:,'period_job'] = ""

num_data_cluster_

,initial_sal_,final_sal,mean_salary,period,job_type,period_job
uniq_id,,,,,,
b43c077756d5a326c4854e1399fd2464,900.0,1300.0,1100.0,hour,full time,
d8491fcefe14d1398de419984dccf427,8000000.0,9500000.0,8750000.0,year,full time,
779bb4c9bf038b7fb775134736d36fd4,7000000.0,10000000.0,8500000.0,year,full time,
ceb44cca7cd280adcb0c84c20f3c6c21,6800000.0,7200000.0,7000000.0,year,full time temporary,
eea9b50afc4fece9f9d6ff0dbf659784,5800000.0,6500000.0,6150000.0,year,full time,
...,...,...,...,...,...,...
4e2b0a3e9fe5f8721f6ab4692823d9a9,25000.0,0.0,25000.0,week,full time,
ac3c743eb7612d90bfe80a3a30d3d8be,5500000.0,6000000.0,5750000.0,year,full time,
8e9f8638556bc1fd671bb99f4f01ac4d,7500000.0,8500000.0,8000000.0,year,full time,
419a3714be2b30a10f628de207d041de,4500000.0,6000000.0,5250000.0,year,full time,
40161cf61c283af9dc2b0a62947a5f1b,2500.0,2800.0,2650.0,hour,full time,

In [542]:

num_data_cluster_['period_job'] =  num_data_cluster_['period']+' '+num_data_cluster_['job_type']
num_data_cluster_ = num_data_cluster_.drop(['period','job_type'], axis=1)
num_data_cluster_['period_job'] = num_data_cluster_['period_job'].replace(' ', '_', regex=True)
num_data_cluster_

,initial_sal_,final_sal,mean_salary,period_job
uniq_id,,,,
b43c077756d5a326c4854e1399fd2464,900.0,1300.0,1100.0,hour_full_time
d8491fcefe14d1398de419984dccf427,8000000.0,9500000.0,8750000.0,year_full_time
779bb4c9bf038b7fb775134736d36fd4,7000000.0,10000000.0,8500000.0,year_full_time
ceb44cca7cd280adcb0c84c20f3c6c21,6800000.0,7200000.0,7000000.0,year_full_time_temporary
eea9b50afc4fece9f9d6ff0dbf659784,5800000.0,6500000.0,6150000.0,year_full_time
...,...,...,...,...
4e2b0a3e9fe5f8721f6ab4692823d9a9,25000.0,0.0,25000.0,week_full_time
ac3c743eb7612d90bfe80a3a30d3d8be,5500000.0,6000000.0,5750000.0,year_full_time
8e9f8638556bc1fd671bb99f4f01ac4d,7500000.0,8500000.0,8000000.0,year_full_time
419a3714be2b30a10f628de207d041de,4500000.0,6000000.0,5250000.0,year_full_time
40161cf61c283af9dc2b0a62947a5f1b,2500.0,2800.0,2650.0,hour_full_time

In [543]:
list_period_job = num_data_cluster_['period_job'].unique()
list_period_job
#No we do have a list of the variables to create the clusters to examine data

array(['hour_full_time', 'year_full_time', 'year_full_time_temporary',
       'hour_part_time', 'hour_full_time_temporary', 'week_full_time',
       'hour_temporary', 'hour_per_diem', 'mont_full_time',
       'hour_part_time_temporary', 'mont_part_time', 'year_part_time'],
      dtype=object)

In [544]:
d={}
for  i  in list_period_job:
    d[i]= num_data_cluster_[num_data_cluster_['period_job'].isin([i])]
   
print(d)

# Lets use a dictionary to separate each cluster that later will be a dataframe with its own period_job
# There are diferent ways to do this like create a dateframe with a conditional of the value of the variable "period_job" but lets have fun this way

{'hour_full_time':                                   initial_sal_  final_sal  mean_salary
uniq_id
b43c077756d5a326c4854e1399fd2464         900.0     1300.0       1100.0  \
3c2f7c555173e04db07a96b23c1be974        1375.0     1675.0       1525.0
f884de2958f94e4ad417aefcacd350c7        1700.0     2200.0       1950.0
776bd5c4c2412714ed9f1ac098470aac        1500.0     1900.0       1700.0
64a597e5dd17740aadf4b0e8047b51a5        1500.0     2100.0       1800.0
...                                        ...        ...          ...
5310eafc4a142affdd10ab50de2c1cca        1500.0     1800.0       1650.0
b5838e6822ee1ffd9174d41ba9ae7b9b        1400.0     1600.0       1500.0
4a65f0199487728cc762abd524237360        1175.0     1275.0       1225.0
292810c8b37005b3b49f84c790110594        2325.0     2521.0       2423.0
40161cf61c283af9dc2b0a62947a5f1b        2500.0     2800.0       2650.0

                                      period_job
uniq_id
b43c077756d5a326c4854e1399fd2464  hour_full_time
3c2f7c555173e04db07a96b23c1be974  hour_full_time
f884de2958f94e4ad417aefcacd350c7  hour_full_time
776bd5c4c2412714ed9f1ac098470aac  hour_full_time
64a597e5dd17740aadf4b0e8047b51a5  hour_full_time
...                                          ...
5310eafc4a142affdd10ab50de2c1cca  hour_full_time
b5838e6822ee1ffd9174d41ba9ae7b9b  hour_full_time
4a65f0199487728cc762abd524237360  hour_full_time
292810c8b37005b3b49f84c790110594  hour_full_time
40161cf61c283af9dc2b0a62947a5f1b  hour_full_time

[439 rows x 4 columns], 'year_full_time':                                   initial_sal_   final_sal  mean_salary
uniq_id
d8491fcefe14d1398de419984dccf427     8000000.0   9500000.0    8750000.0  \
779bb4c9bf038b7fb775134736d36fd4     7000000.0  10000000.0    8500000.0
eea9b50afc4fece9f9d6ff0dbf659784     5800000.0   6500000.0    6150000.0
f15dfb5ad12ddb6acb8a26eb04f2220f     4500000.0  10000000.0    7250000.0
ea722c991c6d3816965702948e320cb6     4000000.0   5000000.0    4500000.0
...                                        ...         ...          ...
d945dcb0eb8a365fd4ce03833e919af0     7000000.0   7500000.0    7250000.0
d8d1215d852cfbd07040ad11a8bc2f56     2700000.0   2900000.0    2800000.0
ac3c743eb7612d90bfe80a3a30d3d8be     5500000.0   6000000.0    5750000.0
8e9f8638556bc1fd671bb99f4f01ac4d     7500000.0   8500000.0    8000000.0
419a3714be2b30a10f628de207d041de     4500000.0   6000000.0    5250000.0

                                      period_job
uniq_id
d8491fcefe14d1398de419984dccf427  year_full_time
779bb4c9bf038b7fb775134736d36fd4  year_full_time
eea9b50afc4fece9f9d6ff0dbf659784  year_full_time
f15dfb5ad12ddb6acb8a26eb04f2220f  year_full_time
ea722c991c6d3816965702948e320cb6  year_full_time
...                                          ...
d945dcb0eb8a365fd4ce03833e919af0  year_full_time
d8d1215d852cfbd07040ad11a8bc2f56  year_full_time
ac3c743eb7612d90bfe80a3a30d3d8be  year_full_time
8e9f8638556bc1fd671bb99f4f01ac4d  year_full_time
419a3714be2b30a10f628de207d041de  year_full_time

[943 rows x 4 columns], 'year_full_time_temporary':                                   initial_sal_   final_sal  mean_salary
uniq_id
ceb44cca7cd280adcb0c84c20f3c6c21     6800000.0   7200000.0    7000000.0  \
52aa858cce38928290a0db075199ce2e     9500000.0  12500000.0   11000000.0
5e7cafde9b560c585dabfca79fae4399     9500000.0  12500000.0   11000000.0
5571229d243a5de10b4ae3b467dd0ed6     9500000.0  12500000.0   11000000.0

                                                period_job
uniq_id
ceb44cca7cd280adcb0c84c20f3c6c21  year_full_time_temporary
52aa858cce38928290a0db075199ce2e  year_full_time_temporary
5e7cafde9b560c585dabfca79fae4399  year_full_time_temporary
5571229d243a5de10b4ae3b467dd0ed6  year_full_time_temporary  , 'hour_part_time':                                   initial_sal_  final_sal  mean_salary
uniq_id
c8d4793a041484771cca9c30491ac025        4500.0     5000.0       4750.0  \
3fc8b25974e8f82b8addbad938b546a1        1200.0     1400.0       1300.0
aa6374fb5d6e869625fe80d33b4511f7        1400.0     1400.0       1400.0
9c9816bd0d9fa598abae92fd2583e8e1        1345.0     1345.0       1345.0
a75c411423819caaf383bb84cef9f41b        1200.0     1500.0       1350.0
bc4635c29a331d26eef0759903a3d700        1400.0     1400.0       1400.0
d5af70c0541a05cc173241aa576a0344        1500.0     2190.0       1845.0
9e2c060f714020de810d4958910eaf32        2000.0     2200.0       2100.0
7fc597645b39c7f0c18a32be7c6708fe        1200.0     1600.0       1400.0
d50695c640d58d9f1675fbbe81c64b2f        2000.0     2500.0       2250.0
7a1b70c94304c75124006536c7f4f918        1200.0     1500.0       1350.0
3cddef98e0d27432560b167850f0156e        1632.0     1837.0       1734.5
14dbc6275792622846697000f3997d94        1400.0     1800.0       1600.0
884a6916e3942093dcbb8fd4b49078ec        1000.0     1300.0       1150.0
ebb5baa437b646a10ee0def5afa06960         605.0     1225.0        915.0
32a80eb646097fd7fd522010075e64b6        1075.0     1075.0       1075.0
4c36565999f730dec706428622c32875        1422.0     1636.0       1529.0
219770fe05b9015bf8e676926a64dca3        3200.0     3500.0       3350.0
d10be37428a0f8592dffc50ecf1a02d9        1200.0        0.0       1200.0
fd793c77c0fe43feebe9145e3757d9bd        1200.0     1600.0       1400.0
608c1cf2b4de2717f044cb53a7b6500d        3500.0     3800.0       3650.0
fc9b2b9b8d80a774df1d7528ac9f710e        1075.0     1175.0       1125.0
e5a8e5d4bfa4d0996133592518f97890        5000.0     7500.0       6250.0
2fa90f0725fcea2e2e1bd2ade8918d81         800.0     1000.0        900.0
c5aa1f0739b63f61b9ba84337c0ae0fc        1400.0     1400.0       1400.0
7ac5a17c8c259c082f29d44fd055b005        2000.0     2500.0       2250.0
582fba6fc156f7974d9e8c6d9be161d9        2500.0     3000.0       2750.0
c1612d69a4b92b585b6de561ec70ab68        1200.0     1500.0       1350.0
fe1085c6a34bcc647c36e3d7076326ac        1200.0     1300.0       1250.0
993d2aa48a03c746be0312cab21e6334        1300.0     2000.0       1650.0
b2bcd66f8ee6433fb8d97fa19fe06680        1700.0     2200.0       1950.0
b63e2d23fd53b8e9ad4503a1edead271        2000.0     2500.0       2250.0
8592a3c92916496f39d1e0daa0ec6609        1900.0     2100.0       2000.0
f553df393a9dd94189b36464b799c493         850.0      900.0        875.0
8560c068c5707dd172caaaa69e48c4c0         850.0     1000.0        925.0
89447ea56aa0aa73c388f8dd5a2d04b2        2800.0     3000.0       2900.0
f02ef5fc220748b00e7e0cab5bfe0bd2         800.0     1000.0        900.0
8b577c47fe5211a5cc1196e2806918db         900.0     1000.0        950.0
45d9f38cea057534885ed5d5dfc87a54        1200.0     4000.0       2600.0
0bbd6a5710de91951e6fc29e833d0304        2000.0     2200.0       2100.0
29346bfdd9ae2f521d29d24c3f362e99        1275.0     1564.0       1419.5
0fab2d4d7ded5801843ea45a971b0529           0.0     1000.0       1000.0

                                      period_job
uniq_id
c8d4793a041484771cca9c30491ac025  hour_part_time
3fc8b25974e8f82b8addbad938b546a1  hour_part_time
aa6374fb5d6e869625fe80d33b4511f7  hour_part_time
9c9816bd0d9fa598abae92fd2583e8e1  hour_part_time
a75c411423819caaf383bb84cef9f41b  hour_part_time
bc4635c29a331d26eef0759903a3d700  hour_part_time
d5af70c0541a05cc173241aa576a0344  hour_part_time
9e2c060f714020de810d4958910eaf32  hour_part_time
7fc597645b39c7f0c18a32be7c6708fe  hour_part_time
d50695c640d58d9f1675fbbe81c64b2f  hour_part_time
7a1b70c94304c75124006536c7f4f918  hour_part_time
3cddef98e0d27432560b167850f0156e  hour_part_time
14dbc6275792622846697000f3997d94  hour_part_time
884a6916e3942093dcbb8fd4b49078ec  hour_part_time
ebb5baa437b646a10ee0def5afa06960  hour_part_time
32a80eb646097fd7fd522010075e64b6  hour_part_time
4c36565999f730dec706428622c32875  hour_part_time
219770fe05b9015bf8e676926a64dca3  hour_part_time
d10be37428a0f8592dffc50ecf1a02d9  hour_part_time
fd793c77c0fe43feebe9145e3757d9bd  hour_part_time
608c1cf2b4de2717f044cb53a7b6500d  hour_part_time
fc9b2b9b8d80a774df1d7528ac9f710e  hour_part_time
e5a8e5d4bfa4d0996133592518f97890  hour_part_time
2fa90f0725fcea2e2e1bd2ade8918d81  hour_part_time
c5aa1f0739b63f61b9ba84337c0ae0fc  hour_part_time
7ac5a17c8c259c082f29d44fd055b005  hour_part_time
582fba6fc156f7974d9e8c6d9be161d9  hour_part_time
c1612d69a4b92b585b6de561ec70ab68  hour_part_time
fe1085c6a34bcc647c36e3d7076326ac  hour_part_time
993d2aa48a03c746be0312cab21e6334  hour_part_time
b2bcd66f8ee6433fb8d97fa19fe06680  hour_part_time
b63e2d23fd53b8e9ad4503a1edead271  hour_part_time
8592a3c92916496f39d1e0daa0ec6609  hour_part_time
f553df393a9dd94189b36464b799c493  hour_part_time
8560c068c5707dd172caaaa69e48c4c0  hour_part_time
89447ea56aa0aa73c388f8dd5a2d04b2  hour_part_time
f02ef5fc220748b00e7e0cab5bfe0bd2  hour_part_time
8b577c47fe5211a5cc1196e2806918db  hour_part_time
45d9f38cea057534885ed5d5dfc87a54  hour_part_time
0bbd6a5710de91951e6fc29e833d0304  hour_part_time
29346bfdd9ae2f521d29d24c3f362e99  hour_part_time
0fab2d4d7ded5801843ea45a971b0529  hour_part_time  , 'hour_full_time_temporary':                                   initial_sal_  final_sal  mean_salary
uniq_id
859885199d1b86a887808f52d0f863af        1700.0     1700.0       1700.0  \
a4a3dfc9f983a311aaebf2a3a0b6a434        5500.0     6500.0       6000.0
5c9db47b9e72997c30378ae4ef383e58        5500.0     6500.0       6000.0
877bf957fdc9153fea0d587ad410715f        3500.0     5000.0       4250.0
302fa0038e04a0c6bf75d3b8f4919c36       10000.0    12000.0      11000.0
...                                        ...        ...          ...
a41f8111a88385034aa93ffea9ca1fbc           0.0     1400.0       1400.0
769c9a65d35d44534c4f0e8cb4c9c17e           0.0     1400.0       1400.0
9e3464d2f89542adebdaa8f5d8ce0035        1500.0     1500.0       1500.0
c876ff37115f4056791377ea7166d900        1988.0     1988.0       1988.0
5a93ce6b005a49bed83970446ee44f83        3500.0     3500.0       3500.0

                                                period_job
uniq_id
859885199d1b86a887808f52d0f863af  hour_full_time_temporary
a4a3dfc9f983a311aaebf2a3a0b6a434  hour_full_time_temporary
5c9db47b9e72997c30378ae4ef383e58  hour_full_time_temporary
877bf957fdc9153fea0d587ad410715f  hour_full_time_temporary
302fa0038e04a0c6bf75d3b8f4919c36  hour_full_time_temporary
...                                                    ...
a41f8111a88385034aa93ffea9ca1fbc  hour_full_time_temporary
769c9a65d35d44534c4f0e8cb4c9c17e  hour_full_time_temporary
9e3464d2f89542adebdaa8f5d8ce0035  hour_full_time_temporary
c876ff37115f4056791377ea7166d900  hour_full_time_temporary
5a93ce6b005a49bed83970446ee44f83  hour_full_time_temporary

[77 rows x 4 columns], 'week_full_time':                                   initial_sal_  final_sal  mean_salary
uniq_id
3650fa1e3d9d124e3045f1b57ad46eaf      110000.0        0.0     110000.0  \
d3382296e9770bcf73d7f2629b232be9       60000.0    80000.0      70000.0
7743c51c503450ed14cfefd81c5a5426       60000.0    80000.0      70000.0
76052f4880499987773947110a1d65d3        1200.0     1200.0       1200.0
4e2b0a3e9fe5f8721f6ab4692823d9a9       25000.0        0.0      25000.0

                                      period_job
uniq_id
3650fa1e3d9d124e3045f1b57ad46eaf  week_full_time
d3382296e9770bcf73d7f2629b232be9  week_full_time
7743c51c503450ed14cfefd81c5a5426  week_full_time
76052f4880499987773947110a1d65d3  week_full_time
4e2b0a3e9fe5f8721f6ab4692823d9a9  week_full_time  , 'hour_temporary':                                   initial_sal_  final_sal  mean_salary
uniq_id
26512fdea3e6a1707f019e36f4994d0c        2500.0     3500.0       3000.0  \
3025426dd87635789cd964ada5c6ac8b        3000.0     3500.0       3250.0
163b1b46e68f6cd64dc9a2b559a2c09b        2500.0     3500.0       3000.0
11d14b6e274b2b6ea15884f53b44770c        2500.0     3500.0       3000.0
7505148e9f98a8fb2592528ab397ce4d        2500.0     3500.0       3000.0
a407ccb6353b3313e28633e8edca5f51        2500.0     3500.0       3000.0

                                      period_job
uniq_id
26512fdea3e6a1707f019e36f4994d0c  hour_temporary
3025426dd87635789cd964ada5c6ac8b  hour_temporary
163b1b46e68f6cd64dc9a2b559a2c09b  hour_temporary
11d14b6e274b2b6ea15884f53b44770c  hour_temporary
7505148e9f98a8fb2592528ab397ce4d  hour_temporary
a407ccb6353b3313e28633e8edca5f51  hour_temporary  , 'hour_per_diem':                                   initial_sal_  final_sal  mean_salary
uniq_id
55baa3d2c4e38044f8c8a9690c5b9d1c        2600.0     3200.0       2900.0  \
1045c14df98cb3dab000ba285885a98d        1100.0     1300.0       1200.0

                                     period_job
uniq_id
55baa3d2c4e38044f8c8a9690c5b9d1c  hour_per_diem
1045c14df98cb3dab000ba285885a98d  hour_per_diem  , 'mont_full_time':                                   initial_sal_  final_sal  mean_salary
uniq_id
76a1ccc44f70a3c3ec07253ebf66552b      436239.0   544557.0     490398.0  \
dbbf8b613436432f186df75f582f166a      588293.0   788320.0     688306.5
c4ca2a4321b9095fe81a64e397559d03      640100.0   793500.0     716800.0
bbfea4764b5da08f213fffb540365ede      490000.0   612500.0     551250.0

                                      period_job
uniq_id
76a1ccc44f70a3c3ec07253ebf66552b  mont_full_time
dbbf8b613436432f186df75f582f166a  mont_full_time
c4ca2a4321b9095fe81a64e397559d03  mont_full_time
bbfea4764b5da08f213fffb540365ede  mont_full_time  , 'hour_part_time_temporary':                                   initial_sal_  final_sal  mean_salary
uniq_id
5eaae0af06f434b723386a15c9e2d7a9        1200.0     1300.0       1250.0  \

                                                period_job
uniq_id
5eaae0af06f434b723386a15c9e2d7a9  hour_part_time_temporary  , 'mont_part_time':                                   initial_sal_  final_sal  mean_salary
uniq_id
4a287bddd05b2acbf65f4c01da6260eb      600000.0  1000000.0     800000.0  \

                                      period_job
uniq_id
4a287bddd05b2acbf65f4c01da6260eb  mont_part_time  , 'year_part_time':                                   initial_sal_   final_sal  mean_salary
uniq_id
41bf62e299f8d9a6fd0f6866830bb88d     9823920.0  16207040.0   13015480.0  \
5875d29cf75530b5300772bf62a01adf     1850000.0         0.0    1850000.0

                                      period_job
uniq_id
41bf62e299f8d9a6fd0f6866830bb88d  year_part_time
5875d29cf75530b5300772bf62a01adf  year_part_time  }

In [572]:
def create_Dataframes(d, dict_dataframes):
    return d.get(dict_dataframes)
    

hour_full_time              =  create_Dataframes(d,list_period_job[0])
year_full_time              =  create_Dataframes(d,list_period_job[1])
year_full_time_temporary    =  create_Dataframes(d,list_period_job[2])
hour_part_time              =  create_Dataframes(d,list_period_job[3])
hour_full_time_temporary    =  create_Dataframes(d,list_period_job[4])
week_full_time              =  create_Dataframes(d,list_period_job[5])
hour_temporary              =  create_Dataframes(d,list_period_job[6])
hour_per_diem               =  create_Dataframes(d,list_period_job[7])
mont_full_time              =  create_Dataframes(d,list_period_job[8])
hour_part_time_temporary    =  create_Dataframes(d,list_period_job[9])
mont_part_time              =  create_Dataframes(d,list_period_job[10])
year_part_time              =  create_Dataframes(d,list_period_job[11])

# Finaly in this fucntion we extract each "period_job" so we can create some visualizations for each one

In [575]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [576]:
# Lets use this library to create some statistics and have a pretty good idea of haow is data
from statistics import mean

### Visualizar los datos

Para datos continuos y discretos podemos graficar un histograma que se obtiene:
* Organizando los datos en grupos 
* Realizar el conteo de datos en cada grupo
* Verificar si la información es normal (forma de campana) o sesgada (inclinada hacia uno de los lados)
* Realizar diagramas boxplots para verificar los datos sesgados (Tanto para datos continuos como discretos)
    - El extremos de bloxplot son los procentiles 25 y 75 por fuera estan los whisker que son el 25 o 75 + 1.25 el rango intercuartil
    - Mas alla de los extemos del boxplot están los outliers

Para los datos Categoricos.
- Hacer un conteo de ocurrencias por cada categoria o el porcentaje que representa la categoria de datos

### Analisis Bivariado y Multivariado

Analisis Bivariado (compara de a dos variables para encontrar correlación)
    - analizar pares de variables usando una grafica de dispersion por ejemplo slario y organiación
    - Se pude analizar el indice de correlación donde un valor cercano a 1 = lineal -1=relacion lineal inversa cerca a 0=no correlación entre los datos
    - Puede ser la comparación de una variable categorica con una númerica (grafica boxplot, violin)
    - Se pueden comparar dos variables categoricas

Analisis Multivariado (compara simultaneamente todos los pares de variables para encontrar correlación)
    - encontrar el indice de correlación en una matriz de correlación

### Sumarización

extracción de conclusiones mas importantes
    - Frases mas cortas de la correlación o relación de variables