### Imputaciónes Simples
- Imputación por la medio o mediana, si hay muchos datos faltantes esto puede cambiar la desviación de los datos por lo cual no es aconsejable 
- Imputación por regresión (el valor se cambia por un valor predicho por un modelo de regresión combinando la informaciónm de las columnas o variables faltantes con columnas donde los datos están completos)
- Imputación Hot-Deck  KNN (key nearest neigborg reemplaza los datos faltantes por datos vecinos) se usa cuando no se puede garantizar correlación entre los datos 

### Imputaciones Multiples

- MICE: Multiple Imputation by Chain Equations (las variables tienen que estar relacionadas linealmente)

Se debe identificar la correlación de los datos

# Exploración de datos

* Tener clara la pregunta que queremos responder;
* Tener una idea general de nuestro dataset;
* Definir los tipos de datos que tenemos;
* Elegir el tipo de estadística descriptiva
* Visualizar los datos;
* Analizar las posibles interacciones entre las variables del dataset; y finalmente
* Extraer algunas conclusiones de todo este análisis.

### Tipos de datos

Los siguientes datos son obtenidos del archivo "clean_df.csv"

- initial_sal_ Initial salary offered 
- final_sal Final salary offered
- mean_salary Mean salary obtained from the first two columns
- period Period of time year, month, week , hour that the payment of the salary is stablished
- period_cond The contions offered acroding to the job
- job The position that the persons is taking
- job_type The type of job full time, part time....
- city City where the person has to work
- state The State of the city
- organization_ Name of the organization
- org_desc Description of the organization
- sector_ Sector that the organization belongs to
- sector_level Level of the position like manager or support
- benefits Benefits offered by the organization

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('clean_df.csv')
#Carga de datos a un dataframe en pandas

Los tipos de datos pueden ser:
- numericos:
    * discretos (Toman solo valores enteros como la edad)
    * continuos (Pueden tomar valor dentro de un intervalo como el salario)
- Categoricos
    * binarios (undican una de dos posibles categorias 1 o 0 paso la materia o no)
    * nominales (etiquetan el dato pero no pueden ser ordenados o medidos como el genero, hombre, mujer o .......)
    * ordinales (Corresponden al orden en que vienen los dato)

In [9]:
df.dtypes
#Tipos de datos
# Variables númericas continuos: initial_sal_ , final_sal   ,mean_salary
# Variables categoricas El resto de las varibales que puedes encontral en la lista que arroja 'dtypes'

uniq_id           object
initial_sal_     float64
final_sal        float64
mean_salary      float64
period            object
period_cond       object
job               object
job_type          object
city              object
state             object
organization_     object
org_desc          object
sector_           object
sector_level      object
benefits          object
dtype: object

### Descripción estadistica
 Se utilizan medidas:
 - Tendencia central
    * media (se puede aplicar a datos discretos o continuos pero sensible a valores atipicos o sesgados)
    * mediana (soluciona el problema de la media y sirve también para datos duscretos u ordinales)

 - Verificación de variabilidad de los datos (que tanto se elejan los datos de la media o la mediana):
    * Desviación estandar (entre mas bajo el valor los datos estan mas agrupados, sensible a datos sesgados)
    * Rango intercuartiles (diferencia entre el percentil 75 y percentil 25, menos sensible a datos sesgados )
 - Variabilidad ()

In [8]:
df_data = df[df['mean_salary'] !=0]
df_data

,uniq_id,initial_sal_,final_sal,mean_salary,period,period_cond,job,job_type,city,state,organization_,org_desc,sector_,sector_level,benefits
6,b43c077756d5a326c4854e1399fd2464,900.0,1300.0,1100.0,hour,NaN,primrose private preschool teacher,full time,houston,tx 77098,Education,NaN,Entry,Level,NaN
7,d8491fcefe14d1398de419984dccf427,8000000.0,9500000.0,8750000.0,year,NaN,superintendent,full time,houston,tx,Construction,Industrial Facilities InfrastructureConstru...,Building,Construction/Skilled Trades,NaN
13,779bb4c9bf038b7fb775134736d36fd4,7000000.0,10000000.0,8500000.0,year,NaN,sr. process engineer,full time,sr. process engineer,manufacturing,Chicago,IL,Engineering,NaN,NaN
16,ceb44cca7cd280adcb0c84c20f3c6c21,6800000.0,7200000.0,7000000.0,year,NaN,rf system technician,full time temporary,rf system technician,field service,Oklahoma,City OK,Engineering,NaN,NaN
20,eea9b50afc4fece9f9d6ff0dbf659784,5800000.0,6500000.0,6150000.0,year,NaN,japanese and english speaking interpreter and ...,full time,charleston,wv,Manufacturing,Other,Experienced,(Non-Manager),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11815,4e2b0a3e9fe5f8721f6ab4692823d9a9,25000.0,0.0,12500.0,week,7-9,route sales representative,full time,cincinnati,oh 45202,All,NaN,Student,(High School),commisson depending on sales volume
11824,ac3c743eb7612d90bfe80a3a30d3d8be,5500000.0,6000000.0,5750000.0,year,ful,assistant quality manager,full time,cincinnati,oh 45202,Automotive,Parts Mfg,Experienced,(Non-Manager),"benefits package, life insurance, 401k, reloca..."
11837,8e9f8638556bc1fd671bb99f4f01ac4d,7500000.0,8500000.0,8000000.0,year,highl,executive chef west chester ohio $k,full time,west chester,oh,All,NaN,Manager,(Manager/Supervisor of Staff),competitive base salary plus lucrative bonus p...
11845,419a3714be2b30a10f628de207d041de,4500000.0,6000000.0,5250000.0,year,NaN,accountant,full time,cincinnati,oh 45236,Construction,Residential Commercial Office,Manager,(Manager/Supervisor of Staff),NaN
11846,40161cf61c283af9dc2b0a62947a5f1b,2500.0,2800.0,2650.0,hour,NaN,electrician,full time,chicago,il 60609,Jernberg,Industries Inc.,Installation/Maintenance/Repair,NaN,NaN

### Visualizar los datos

Para datos continuos y discretos podemos graficar un histograma que se obtiene:
* Organizando los datos en grupos 
* Realizar el conteo de datos en cada grupo
* Verificar si la información es normal (forma de campana) o sesgada (inclinada hacia uno de los lados)
* Realizar diagramas boxplots para verificar los datos sesgados (Tanto para datos continuos como discretos)
    - El extremos de bloxplot son los procentiles 25 y 75 por fuera estan los whisker que son el 25 o 75 + 1.25 el rango intercuartil
    - Mas alla de los extemos del boxplot están los outliers

Para los datos Categoricos.
- Hacer un conteo de ocurrencias por cada categoria o el porcentaje que representa la categoria de datos

### Analisis Bivariado y Multivariado

Analisis Bivariado (compara de a dos variables para encontrar correlación)
    - analizar pares de variables usando una grafica de dispersion por ejemplo slario y organiación
    - Se pude analizar el indice de correlación donde un valor cercano a 1 = lineal -1=relacion lineal inversa cerca a 0=no correlación entre los datos
    - Puede ser la comparación de una variable categorica con una númerica (grafica boxplot, violin)
    - Se pueden comparar dos variables categoricas

Analisis Multivariado (compara simultaneamente todos los pares de variables para encontrar correlación)
    - encontrar el indice de correlación en una matriz de correlación

### Sumarización

extracción de conclusiones mas importantes
    - Frases mas cortas de la correlación o relación de variables